@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "KOHIBaeum";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.ttf")
      format("truetype");
  font-display: swap;
}

nav .menu:nth-child(2){
  color: #145c93;
  border-bottom: 2px solid #145c93;
}

#mobile {
  display: none;
}

#m_main {
  display: none;

  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  font-family: Pretendard;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

#sub {
  width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0 auto;
}

#sub > img:nth-child(1) {
  width: 120rem;
}

.string {
  width: 100rem;

  color: #145c93;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;

  padding: 2rem;
  /* font-weight: 600; */
}

.cont {
  display: flex;

  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.cont .banner {
  background-image: url("../image/admission_banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.5rem;

  width: 20rem;
  height: 28rem;
}

.cont > img {
  width: 2rem;
}

.banner .steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  flex-shrink: 0;

  margin: 1rem;
}

.banner .steps > div:nth-child(1) {
  width: 7rem;
  height: 2rem;
  flex-shrink: 0;
  margin: 0.5rem;
  padding: 0.2rem;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 900;

  border-radius: 6.25rem;
  background: #145c93;
}

.banner .steps > div:nth-child(2) {
  color: #145c93;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;

  margin: 1rem 1.5rem 1.5rem 1.5rem;
}

.banner .steps > div:nth-child(3) {
  color: #333;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;

  margin: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.banner a {
  width: 15rem;
  height: 3rem;
  display: flex;
  padding: 0.5625rem 2.5rem;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;

  border-radius: 1.9375rem;
  border: none;

  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
}

.banner a svg {
  width: 1rem;
}

a#call {
  gap: 0.8rem;
  background: linear-gradient(
      0deg,
      rgba(2, 107, 0, 0.2) 0%,
      rgba(2, 107, 0, 0) 91.13%
    ),
    #145c93;
}

a#naver {
  gap: 2.5rem;
  background: linear-gradient(
      0deg,
      rgba(2, 107, 0, 0.2) 0%,
      rgba(2, 107, 0, 0) 91.13%
    ),
    #91c64c;
}

.steps .test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #333;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;

  margin: 0.5rem;
}

.test div:nth-child(1) {
  border-radius: 6.25rem;
  width: 3rem;
  margin-bottom: 0.5rem;

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

.test #ele {
  background: #fa9f3e;
}

.test #mid {
  background: #90c64c;
}

.test b {
  color: #145c93;
  font-weight: 800;
}

#sub > div:last-child {
  position: relative;
  right: 21rem;
  margin: 2rem 18rem 10rem 18.5rem;
  text-align: start;

  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  #mobile {
    display: inherit;
  }

  #main_img {
    display: none;
  }

  #sub {
    width: 100%;
  }

  #sub #main {
    background-image: url("../image/m_admission_main.png");
    background-size: 100% 100%;
    width: 100%;
    height: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #m_main {
    display: inherit;
  }

  .cont {
    flex-direction: column;
  }

  .cont > img {
    rotate: 90deg;
  }

  #sub > div:last-child {
    right: 0rem;
    margin: 1rem 0rem;
    width: 18rem;

    font-size: 0.8rem;
  }
}