@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "KOHIBaeum";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kohi/KOHIBaeum.ttf")
      format("truetype");
  font-display: swap;
}

nav .menu:nth-child(1) {
  color: #145c93;
  border-bottom: 2px solid #145c93;
}

#mobile {
  display: none;
}

#m_main {
  display: none;

  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  font-family: Pretendard;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

#sub {
  width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0 auto;
}

#sub #main {
  width: 120rem;
  background-image: url("../image/debut_main.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.twin_tab {
  background-color: #fff;
}

.twin_tab > button {
  width: 15.625rem;
  height: 2.5625rem;
  flex-shrink: 0;

  text-align: center;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;

  background: none;
  border: none;

  position: relative;
  top: -1rem;
}

.twin_tab > button:nth-child(1) {
  color: #404040;
  font-weight: 500;
}

.twin_tab > button:nth-child(2) {
  color: #145c93;
  font-weight: 800;

  border-bottom: 2px solid #145c93;
}

.string {
  width: 100rem;

  color: #145c93;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;

  padding: 2rem;
  /* font-weight: 600; */
}

.cont {
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cont > div:first-child {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#table {
  width: 75rem;
}

.tab_banner {
  width: 75rem;
  background-image: url("../image/tab_banner.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0.5rem;
  text-align: start;

  padding: 4rem 9rem 4rem 9rem;
  margin: 5rem;

  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

.cont .tab_banner #desktop {
  display: inherit;
}

h4 {
  color: #145c93;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  #mobile {
    display: inherit;
  }

  #main_img {
    display: none;
  }

  #sub {
    width: 100%;
  }

  #sub #main {
    background-image: url("../image/m_debut_main.png");
    width: 100%;
    height: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #m_main {
    display: inherit;
  }

  .twin_tab {
    width: 80%;
  }

  .twin_tab > button {
    width: 45%;

    font-size: 1rem;
  }

  .string {
    width: 100%;
    font-size: 1.2rem;

    padding: 1rem;
  }

  .cont > div > div {
    margin: 1rem 0rem;
  }

  .cont .sub_string {
    width: 95%;
    font-size: 0.8rem;
  }
  .cont {
    overflow: hidden;
    width: 95%;
  }

  .cont > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(221, 221, 221, 0.87);
  }

  #table {
    width: 60rem;
    margin: 1rem;
    touch-action: pan-y;
  }

  .cont .tab_banner {
    background-image: url("../image/m_tab_banner.png");
    width: 95%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 0.75rem;
    border-radius: 0rem;
    padding: 1rem;
  }

  .cont .tab_banner > div:nth-child(1) {
    margin-right: 0rem;
    font-size: 0.75rem;
  }

  .cont h4 {
    font-size: 1.2rem;
  }

  .cont .tab_banner #desktop {
    display: none;
  }

  .cont .tab_banner > div:nth-child(2) {
    height: 8rem;
  }

  .cont .tab_banner div img {
    position: relative;
    top: 5rem;
    width: 10rem;
    margin: 1rem;
  }
}
